<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <!--<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>-->
  <meta http-equiv="X-UA-Compatible" content="chrome=1">

  <link rel="stylesheet" type="text/css" href="../../css/stylesheet.css" media="screen">
  <script src="../echarts/echarts.min.js"></script>
  <script src="../vue/vue.min.js"></script>

  <title>Joe's CV On Github</title>
</head>

<body>
  <header>
    <div class="container">
      <h1>Joe's 个人简历</h1>
      <h2>主攻前端和NodeJs开发，6年+前端开发经验，在大公司跨部门做过产品，也在小公司组团做过项目，参与前端NodeJs混合开发团队，带领组员利用最新技术解决公司快速发展过程中的各种业务/产品场景问题。亦具有Java、小程序开发经验，熟悉Linux和数据库语言。</h2>

      <section id="downloads">
        <a href="https://github.com/qiaolevip" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        <a href="http://each.sinaapp.com" class="btn btn-github"><span class="icon"></span>My Technic Website</a>
        <a href="http://qiaolevip.iteye.com" class="btn btn-github"><span class="icon"></span>My Iteye's Blog</a>
        <a href="http://qiaole.duapp.com/" class="btn btn-github"><span class="icon"></span>My Practice Site</a>
      </section>
    </div>
  </header>

  <div class="container">
    <section id="main_content">
      <div class="skill-box">
        <h3>
          <a id="self-evaluation" class="anchor" href="#self-evaluation" aria-hidden="true"><span class="octicon octicon-link">自我评价：</span></a>
        </h3>

        <p>任职点融高级前端开发一职，负责前端架构&开发，跨部门协同办公，推进项目进度。</p>
        <p>学习能力强，利用最新技术解决公司业务需求，高效质量开发确保功能完善，提升用户体验，促进用户活跃，增加用户好感度。</p>

        <p id="pieChart" class="chart"></p>
      </div>

      <div class="skill-box">
        <h3>
          <a id="special-skills" class="anchor" href="#special-skills" aria-hidden="true"><span class="octicon octicon-link">技能特长：</span></a>
        </h3>

        <p>从后端Java入门做起，使用Oracle和SSH开发项目，中间自学jQuery技能，快速应用到和用户交互的项目中。通过一系列大大小小的项目开发中，对前端的喜爱程度愈发强烈，后转职于前端开发。接触最新的前端技术，从AngularJs，Vue，React前端框架不断学习中，穿插应用在工作各个项目中，后使用NodeJs快速迭代公司内部系统业务。业余时间搭建个人技术站点，开发微信公众号，Blog分享技术点，在github技术互动。</p>
        <pre><code>$ cd your_cv_list/cv_qiaolevip
$ git fetch interview
$ git checkout friend-member
</code></pre>
        <p id="lineChart" class="chart padding"></p>
      </div>

      <div class="skill-box">
        <h3>
          <a id="personal-achievement" class="anchor" href="#personal-achievement" aria-hidden="true"><span class="octicon octicon-link">个人成就：</span></a>
        </h3>

        <p>以下工作绩效目标，皆为实际工作项目中的产出，或包含技术点的提升，产品体验友好度的提升，或完成公司用户留存、促忠、促活跃的目标，更多则展现在工作中计划、应变、沟通和执行的能力。</p>

        <ul id='timeline'>
          <li class='work' v-for="(exp, idx) in expList" v-if="expList && expList.length > 0" v-cloak>
            <input class="radio" :id="'work'+idx" name="works" type="radio" :checked="idx === 0" />
            <div class="relative">
              <label :for="'work'+idx">{{exp.title}}</label>
              <span class="date">{{exp.date}}</span>
              <span class="circle"></span>
            </div>
            <div class='content'>
              <p v-for="ex in exp.exps">{{ex}}</p>
            </div>
          </li>
        </ul>
      </div>

      <div class="skill-box">
        <h3>
          <a id="all-round-ability" class="anchor" href="#all-round-ability" aria-hidden="true"><span class="octicon octicon-link">综合能力：</span></a>
        </h3>

        <p>根据以上自我/领导评价、工作经验、个人成就等佐证并由此分析得出个人的综合能力情况如下：</p>

        <p id="radarChart" class="chart padding"></p>
      </div>

      <h3>
        <a id="support-or-contact" class="anchor" href="#support-or-contact" aria-hidden="true"><span class="octicon octicon-link">沟通交流：</span></a>
      </h3>

      <p>对我的个人履历感兴趣？ 可以访问我的Github主页获取更多信息
        <a href="https://github.com/qiaolevip">https://github.com/qiaolevip</a> 亦可以邮件我
        <a href="mailto:qiaole@vip.qq.com">qiaole@vip.qq.com</a> 希望可以帮到你。</p>
    </section>
  </div>

  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
      var pageTracker = _gat._getTracker("UA-43957394-1");
      pageTracker._trackPageview();
    } catch (err) {
    }
  </script>
  <script type="text/javascript" src="main.js"></script>
</body>
</html>